body{
    margin:0;
    background-color: rgb(122, 122, 216);
    text-align: center;
}
h1{
    color:white;
    font-family:'Courier New', Courier, monospace
}
input{
    border:none;
    background: #f2f2f2;
    padding:12px;
    border-radius:3px;
    width:100px;
    appearance:none;
}
